html, body { 
  margin:0; 
  padding:0; 
  width:100%; 
  height:100%;
  overflow: hidden;
  background-color: #676661;
}

.timebar {
  height: 55px;
  margin: 0;
  padding: 0;
}

.timebar text {
  font: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  stroke: #ccc;
}

.timebar line {
  stroke: black;
  stroke-width: 1; 
}

.timebar-progress {
  fill: #db0015;
}

.timebar-box {
  stroke: #bbbbba;
  stroke-width: 1; 
  fill: white;
}

.clock {
  height: 25px;
  font: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #888;
}

.statbars {
  
}

.statbar {
  stroke: orange;

}
.statbar-fill {
  fill: steelblue;
}

.statbar-box {
  stroke: #bbbbba;
  stroke-width: 1; 
  fill: white;
}

.statbar-text {
  font: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  stroke: #ccc; 
}

.statbar-val {
  font: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  stroke: black; 
}