.map {
  margin: 0;
  padding: 0;
  
}

.routes {
  fill: none;
  stroke: black;
  opacity: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.start {
  fill: black;
  stroke: none;
  opacity: .5;
}

.end {
  fill: none;
  stroke: red;
  stroke-width: 2;
  opacity: .5;
}

.countries {
  stroke: #fff;
  stroke-width: 1;
  fill: #ccc;
}

.city {
  stroke-width: 1;
  stoke: #fff;
  fill: green;
}

.stop {
  fill: black;
  opacity: .6;
/*  stroke-width: .0004;
  stroke: blue;*/
}

.bus {
  fill: white;
  stroke-width: .0004;
  stroke: black;
}