.map {
  margin: 0;
  padding: 0;
  background-color: #c3e7f7;
}

.routes {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.start {
  fill: black;
  stroke: none;
  opacity: .5;
}

.end {
  fill: none;
  stroke: red;
  stroke-width: 2;
  opacity: .5;
}

.countries {
  stroke: #fff;
  stroke-width: 1;
  fill: #ccc;
}

.city {
  stroke-width: 1;
  stoke: #fff;
  fill: green;
}

.stop {
  fill: orange;
  stroke-width: .0004;
  stroke: blue;
}

.bus {
  fill: red;
  stroke-width: .0002;
  stroke: orange;
}